* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
    --color3: #ffe921;
    --color4: #7e0620;
    --color5: #148b04;
    --color6: #ffae00;
    text-align: center;
}

/*SLIDER AUTOMATICO BIOMAS*/
#img-biomas {
    height: 500px;
    width: auto;
    border-radius: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
@media(max-width: 600px){
    #img-biomas {
        width: 400px;
        height: auto;
        border-radius: 30px;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
/*CAIXA DE TEXTOS INFORMACOES*/
#img-muzoo {
    height: 450px;
    width: auto;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

@media(max-width: 600px) {
    #img-muzoo {
        width: 80%;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

}

#img-muzoo:hover {
    box-shadow: 0 3px 15px #ff9100b7;
    transition: 0.2s ease-in-out;
}

.bg-area1 {
    background-color: whitesmoke;
    margin-top: -10px;
    padding-top: 20px;
}

.bg-area2 {
    background-color: rgb(202, 202, 202);
    margin-top: -10px;
    padding-top: 20px;
}

.bg-area3 {
    background-color: whitesmoke;
    margin-top: -10px;
    padding-top: 40px;
}

.area-info-textos {
    display: flex;
}

.area-info-textos img {
    height: 600px;
    width: auto;
    border-radius: 20%;
}

@media(max-width: 600px) {
    .area-info-textos {
        display: grid;
    }

    .area-info-textos img {
        height: 420px;
        width: auto;
    }
}

p {
    margin-left: 4px;
    margin-right: 3px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: black;
    padding: 16px 20px;
}

.logo2 {
    display: none;
}

.logo img {
    width: 100px;
    margin-bottom: -40px;
    margin-top: -20px;
}

.menu img {
    height: 100px;
    width: auto;
    margin-bottom: -10px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 10px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width:610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #CD8A39;
        transition: all 0.3s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu-li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

@media(max-width: 600px) {
    .logo2 {
        display: block;
        margin-left: 25px;
    }

}

/*PAGINA DOS BIOMAS */
.header-biomas {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.514)), url(imgs/biomas/biomas_banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}



.caixa-texto-amazonia {
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #509755;
    margin-bottom: 10px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    height: 500px;
    padding-top: 130px;
    color: white;
    font-size: 17px;
}

@media(max-width: 600px) {
    .caixa-texto-amazonia {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        background-color: #509755;
        margin-bottom: 10px;
        text-align: justify;
        padding-left: 5px;
        padding-right: 5px;
        width: 400px;
        padding-top: 10px;
        color: white;
        font-size: 15px;
    }
}
.caixa-texto-caatinga {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #ffc03f;
    margin-bottom: 20px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    height: 500px;
    padding-top: 130px;
    color: black;
    font-size: 17px;
}
@media(max-width: 600px){
    .caixa-texto-caatinga {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        background-color: #ffc03f;
        margin-bottom: 20px;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        width: 400px;
        padding-top: 10px;
        color: black;
        font-size: 15px;
    }
}
.caixa-texto-cerrado {
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    padding-top: 130px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    background-color: #eb9041;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 17px;
    color: black;
}
@media(max-width: 600px){
    .caixa-texto-cerrado {
        margin-left: 20px;
        margin-right: 20px;
        width: 400px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        background-color: #eb9041;
        margin-bottom: 20px;
        text-align: justify;
        font-size: 15px;
        color: black;
    }
}
.caixa-texto-pantanal {
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    padding-top: 130px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    background-color: #006c86;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 17px;
    color: white;
}
@media(max-width: 600px){
    .caixa-texto-pantanal {
        margin-left: 20px;
        margin-right: 20px;
        width: 400px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        background-color: #006c86;
        margin-bottom: 20px;
        text-align: justify;
        font-size: 15px;
        color: white;
    }
}
.caixa-texto-mata-atlantica {
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    padding-top: 130px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    background-color: #60dbc6;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 17px;
    color: black;
}
@media(max-width: 600px){
    .caixa-texto-mata-atlantica {
        margin-left: 20px;
        margin-right: 20px;
        width: 400px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        background-color: #60dbc6;
        margin-bottom: 20px;
        text-align: justify;
        font-size: 15px;
        color: black;
    }
}
.caixa-texto-pampa {
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    padding-top: 130px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    background-color: #d4bf74;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 17px;
}
@media(max-width: 600px){
    .caixa-texto-pampa {
        margin-left: 20px;
        margin-right: 20px;
        width: 400px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        background-color: #d4bf74;
        margin-bottom: 20px;
        text-align: justify;
        font-size: 15px;
    }
}
.h5_caixa-texto {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
}

.tabela_biomas {
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
    box-shadow: 0 10px 10px rgba(4, 9, 30, 0.9);
    margin-bottom: 3%;
}

.tabela_biomas td,
.tabela_biomas th {
    padding: 12px 15px;
    border: 1px solid #124605;
    text-align: center;
    font-size: 16px;
}

.tabela_biomas th {
    background-color: #22676a;
    color: #fff;
}

.tabela_biomas .th_amaz {
    background-color: #509755;
}

.tabela_biomas .th_caat {
    background-color: #ffc03f;
}

.tabela_biomas .th_cerr {
    background-color: #eb9041;
}

.tabela_biomas .th_pant {
    background-color: #006c86;
}

.tabela_biomas .th_matlan {
    background-color: #60dbc6;
}

.tabela_biomas .th_pampa {
    background-color: #d4bf74;
}

.tabela_biomas tr:nth-child(even) {
    background-color: #c0bdbd;
}
 
/*HEADER*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(4, 9, 30, 0)), url(imgs/banner_1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    width: 90%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 2px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

/*Pagina SOBRE*/

/*INTRODUÇÃO*/
.hr_intro {
    height: 20px;
    background-color: var(--color2);
    border: solid 1px transparent;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.1), 4px 4px 4px rgb(0, 0, 0, 0.1);
}

.hr_intro2 {
    height: 20px;
    background-color: #124605;
    border: solid 1px transparent;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.7), 4px 4px 4px rgb(0, 0, 0, 0.7);
    margin-bottom: 20px;

}

.intro {
    background-color: #ffffff;
}

.textos p {
    font-size: 15px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    margin-top: 25px;
}

.textos h3 {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    color: var(--color4);
    font-weight: 800;
}

.intro-btn {
    height: 50px;
    width: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: green;
    border-radius: 6px;
    color: var(--color1);
    font-size: 15px;
    font-weight: bold;
    border-color: transparent;
}

.intro-btn a {
    text-decoration: none;
    color: var(--color1);
}

.intro-btn:hover {
    background-color: #22676a;
    transform: translateY(5px);
    transition: .5s ease;
    border: solid rgb(255, 255, 255) 2px;
}

.intro-btn2 {
    height: 50px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #CD8A39;
    border-radius: 6px;
    color: var(--color1);
    font-size: 15px;
    font-weight: bold;
    border-color: transparent;
}

.intro-btn2 a {
    text-decoration: none;
    color: #fff;
}

.intro-btn2:hover {
    background-color: #22676a;
    transform: translateY(5px);
    transition: .5s ease;
    border: solid rgb(255, 255, 255) 2px;
}

/*SELETOR DAS CLASSES DOS ANIMAIS */
.selet-animais {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #CD8A39;
    margin-top: -15px;
    border-radius: 15px;
    border: solid 15px rgba(0, 0, 0, 0.555);
}

.fundo {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://th.bing.com/th/id/OIP.Ki6pxvzmjnGLkWLGvw3nGgAAAA?rs=1&pid=ImgDetMain);
    margin-top: -10px;
    padding-top: 100px;
}

.faixa-texto {
    background-color: #181818;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}

.faixa-texto_form {
    background-color: #181818;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
}

.faixa-texto_form h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 35px;
    color: #CD8A39;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media(max-width: 600px){
    .faixa-texto_form {
        background-color: #181818;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
    }
    
    .faixa-texto_form h1 {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 30px;
        color: #CD8A39;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
.faixa-texto h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 35px;
    color: #CD8A39;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media(max-width: 600px){
    .faixa-texto h1 {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 30px;
        color: #CD8A39;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
.row-img {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
    border: 6px solid rgba(0, 0, 0, 0.555);
    margin-top: 20px;
}

.row-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.7s;
}

.row-img img:hover {
    transform: scale(1.3);
}

.selet-animais h4 {
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    transition: all .50s ease;
    color: #000;
}

.selet-animais h4:hover {
    color: #fff;
}

@media(max-width: 600px) {
    .row-img {
        width: 120px;
        height: 120px;
    }

    .selet-animais {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    }
}

/*Pag dos PEIXES*/
.header-pxs {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.26), rgba(4, 9, 30, 0.356)), url(imgs/Banner_Peixes.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box-pxs {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*ANFIBIOS - PAG DOS ANFIBIOS */
.header-anf {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.26), rgba(4, 9, 30, 0.356)), url(imgs/Banner_Anfibios.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box-anf {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box-anf h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 2px;
}

.text-box-anf p {
    margin: 10px 0 40px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.info h1 {
    font-size: 30px;
    color: var(--color4);
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.info p {
    text-align: justify;
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.hr1 {
    height: 10px;
    background-color: var(--color5);
    margin-top: 20px;
    border-color: transparent;
}

.container1 {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(202, 202, 202);
}

@media(max-width: 600px) {
    .container1 {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 30px;

    }
}

.container1:hover {
    box-shadow: 0 10px 10px rgba(4, 9, 30, 0.9);
    transition: 0.2s ease-in-out;
}

.container1 h4 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 800;
}

.animal-title {
    font-size: 42px;
    margin-top: 2rem;
    margin-bottom: 5px;
    color: #CD8A39;
    font-weight: 800;
    text-transform: uppercase;
}

.cont-img img {
    height: auto;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infos-animais {
    text-align: justify;
    list-style: none;
    margin-left: 50px;
    margin-right: 10px;
}

.mapa-ocorr {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.mapa-ocorr b {
    font-size: 22px;
    font-weight: 800;
}

.mapa-ocorr img {
    height: auto;
    width: 30%;
    margin-top: 10px;
}

.mapa-ocorr img:hover {
    box-shadow: 0 3px 15px #ff7b00f6;
}

/* PAGINA DE REGISTRAR VISITA*/
.body_v2 {
    background-color: #858585;
    background-position: center;
    background-size: cover;

}
.h2_form {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 900;
    color: red;
    text-transform: uppercase;
}

form {
    max-width: 550px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(33, 5, 136, 0.404);
    margin-bottom: 20%;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #ced4da;
    border-radius: 4px;
}

.btn_form {
    background-color: #CD8A39;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 3px solid black;
}

.btn_form:hover {
    background-color: #148b04;
    transition: 0.5s ease;
}

@media(max-width: 600px) {
    form {
        max-width: 450px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(33, 5, 136, 0.404);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    input,
    select,
    textarea {
        width: 90%;
        padding: 12px;
        margin-bottom: 10px;
        border: 2px solid #ced4da;
        border-radius: 4px;
    }
}

/*MEDIA*/
@media(max-width: 600px) {
    .mapa-ocorr img {
        width: 80%;
    }

    .sub-imgs img {
        width: 80%;
    }

}

.info-ant {
    color: black;
}

.infos-animais h4 {
    color: var(--color5);
}

.sub-imgs p {
    text-align: center;
    font-size: 15px;
    color: #CD8A39;
}

.sub-imgs {
    align-items: center;
    text-align: center;
}

.sub-imgs img {
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 4px solid #CD8A39;
}

/*PAG SOBRE*/
.sub-imgs2 p {
    text-align: center;
    font-size: 15px;
    color: var(--color4);
}

.sub-imgs2 {
    align-items: center;
    text-align: center;
}

.sub-imgs2 img {
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 4px solid rgba(43, 189, 7, 0.747);
}

.sub-imgs_foto {
    text-align: center;
}

.sub-imgs_foto p {
    text-align: center;
    color: #7e0620;
}

.sub-imgs_foto img {
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 4px solid rgba(43, 189, 7, 0.747);
}

@media(max-width: 600px) {
    .sub-imgs2 img {
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 270px;
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 4px solid rgba(43, 189, 7, 0.747);
    }

    .sub-imgs_foto img {
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 320px;
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 4px solid rgba(43, 189, 7, 0.747);
    }
}

/* IMG SLIDER */
.slider {
    position: relative;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.slides {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 600px;
    position: relative;
    object-fit: cover;
    transition: 0.5s ease;
}

.slides img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container1 button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/*PAGINA DOS REPTEIS*/
.header-rpts {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.145), rgba(4, 9, 30, 0.118)), url(imgs/Banner_Rept.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*PAGINA DAS AVES */
.header-avs {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.145), rgba(4, 9, 30, 0.118)), url(imgs/Banner_Aves.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box-avs {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box-avs h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 2px;
}

.text-box-avs p {
    margin: 10px 0 40px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

/*PAGINA DOS MAMIFEROS*/
.mf-body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.123), rgba(4, 9, 30, 0.185)), url(imgs/banner-background-animais.jpg);
}

.header-mfs {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.356), rgba(4, 9, 30, 0.342)), url(imgs/Banner_Mamiferos.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box-mfs {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box-mfs h1 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
}

.text-box-mfs p {
    margin: 10px 0 40px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

/*Pagina dos Animais - CP*/
.an-body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.116), rgba(4, 9, 30, 0.164)), url(imgs/banner-background-animais.jpg);
}

.container-an {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-shadow: 0 10px 10px rgba(4, 9, 30, 0.9);
    border-radius: 5px;
    background-color: #fff;
}

.container-an h4 {
    font-size: 20px;
}

.btn-vltan {
    height: 50px;
    width: 100px;
    position: relative;
    right: 10%;
    left: -40%;
    border-radius: 7px;
    margin-top: 10px;
}

.btn-vltan a {
    text-decoration: none;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-vltan:hover {
    transform: translateY(5px);
    transition: 0.5s ease-in-out;
    background-color: var(--color2);
    border: 2px solid red;
    border-radius: 10px;
}

.container-an button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.extras_info {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-shadow: 0 10px 10px rgba(4, 9, 30, 0.9);
    border-radius: 5px;
    background-color: #fff;
}

.extras_info h1 {
    color: var(--color4);
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.info_popup {
    width: auto;
    height: 40px;
    background-color: #ffe921;
    border: 3px solid #148b04;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 20px;
}

.info_popup:hover {
    background-color: #148b04;
    transform: translateY(10%);
    transition: ease-in-out 0.2s;
    border: 3px solid red;
}

.caixa-texto {
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #CD8A39;
    margin-bottom: 10px;
    text-align: justify;
    padding-top: 130px;
    padding-left: 40px;
    padding-right: 40px;
    height: 450px;
}

.caixa-texto:hover {
    box-shadow: 0 3px 15px #ff9100b7;
    transition: 0.2s ease-in-out;
}

.caixa-texto p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.caixa-texto2 {
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #00bf63;
    margin-bottom: 10px;
    text-align: justify;
    padding-top: 130px;
    padding-left: 40px;
    padding-right: 40px;
    height: 450px;
}

.caixa-texto2:hover {
    box-shadow: 0 3px 15px #00bf63;
    transition: 0.2s ease-in-out;
}

.caixa-texto2 p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

@media(max-width: 600px) {
    .caixa-texto {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 20px;
        background-color: #CD8A39;
        margin-bottom: 10px;
        text-align: justify;
        padding-top: 15px;
        padding-left: 7px;
        padding-right: 7px;
        height: 500px;
        width: 400px;
    }

    .caixa-texto p {
        font-size: 17px;
    }

    .caixa-texto2 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 20px;
        background-color: #00bf63;
        margin-bottom: 10px;
        text-align: justify;
        padding-top: 15px;
        padding-left: 7px;
        padding-right: 7px;
        height: 500px;
        width: 400px;
    }

    .caixa-texto2 p {
        font-size: 17px;
    }
}

/*MEDIAS DE TELA - RESPONSIVIDADE */
@media(max-width: 600px) {
    .text-box-anf h1 {
        font-size: 60px;
    }

    .titulos_especiais h1 {
        color: #ffae00;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 2px;
    }

    .text-box h1 {
        font-size: 60px;
    }

    .cont-img img {
        height: auto;
        width: 300px;
    }

    .infos-animais {
        margin-left: 10px;
    }

    .mapa-ocorr img {
        height: auto;
        width: 300px;
    }

    .sub-imgs img {
        height: auto;
        width: 280px;

    }

    .container-an {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        margin-top: 5px;
    }

    .slider {
        position: relative;
        align-items: center;
        width: auto;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .slider img {
        width: 100%;
        height: auto;
    }

    .btn-vltan {
        height: 50px;
        width: 100px;
        position: relative;
        right: 5%;
        left: -33%;
        border-radius: 7px;
    }

    button.prev {
        left: -5px;
    }

    button.next {
        right: -5px;
    }
}

@media (max-width: 999px) and (min-width: 800px) {
    .slides {
        height: 30vh;
    }

    .slider {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 799px) and (min-width: 600px) {
    .slides {
        height: 35vh;
    }

    .slider {
        width: 70%;
        margin-left: 15%;
    }
}

@media(max-width: 600px) {
    .slides {
        height: 300px;
    }

    .slider {
        width: 90%;
        margin-left: 5%;
    }
}

@media(min-width: 700px) {
    .cont-img img {
        height: 300px;
        width: auto;
    }
}

/*BANNER INTRO*/
.background-footer {
    background-color: #000000;
}

.banner-intro {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #0a0a0aec, #0a0a0aa1, #42424213), url(imgs/muzoo_sem_logo.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.caixa-texto-intro {
    margin-right: 53%;
    padding: 10%;
    padding-top: 15%;
}

@media(max-width: 600px) {
    .caixa-texto-intro {
        margin-right: 10px;
        padding: 10%;
        padding-top: 220px;
    }
}

.caixa-texto-intro h1 {
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: bolder;
    color: #CD8A39;
}

.btn-intro-sb {
    height: 50px;
    width: 130px;
    margin-top: 5%;
    border-radius: 10px;
}

.btn-intro-sb:hover {
    background-color: #CD8A39;
    transition: 0.3s ease-in-out;
    box-shadow: 0 3px 15px #ffffff4f;
}

.btn-intro-sb a {
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.caixa-texto-intro p {
    color: white;
    text-align: justify;
    margin-left: 10%;
}
/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container2{
  max-width: 1170px;
  margin:auto;
}
.row2{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
.footer-col p{
    color: #fff;
    text-align: justify;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
